<div class="g-container">
	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form [formGroup]="form" >
				<h1>Registrar</h1>
				<span>Ingresa tus datos</span>
				<input type="text"  formControlName="name"  placeholder="Nombre" />
				<input type="text"  formControlName="lastname"  placeholder="Apellidos" />
				<input type="email"  formControlName="email"  placeholder="Email" />
				<input type="text"  formControlName="telephone"  placeholder="Telefono" />
				<input type="password" formControlName="password" placeholder="Password" />
				<select formControlName="roleSelector" >
					<option  value="Operario" >Operario</option>
					<option value="Supervisor">Supervisor</option>
					<option value="Administrador">Administrador</option>
				</select> 
				<!--<a href="#">Forgot your password?</a>-->
				<button type="submit" >Crea cuenta</button>
			</form>
		</div>

		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<img src="assets/img/logo.png" alt="logo">
					<h1>Bienvenido!</h1>
					<button class="ghost" id="signUp" (click)="goLogin()">Inicia sesion</button>
				</div>
			</div>
		</div>
	</div>
</div>