<div class="g-container">
    
<div class="container" id="container">
	<div class="form-container sign-in-container">
	
		<form [formGroup]="form" >
			<h1>Iniciar sesion</h1>
			<span>Ingresa tus datos</span>
			<input type="email"  formControlName="email"  placeholder="Email" />
			<input type="password" formControlName="password" placeholder="Password" />
			<select formControlName="roleSelector" >
				<option  value="Operario" >Operario</option>
				<option value="Supervisor">Supervisor</option>
				<option value="Administrador">Administrador</option>
			</select> 
			<!--<a href="#">Forgot your password?</a>-->
			<button type="submit" >Ingresar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-right">
				<img src="assets/img/logo.png" alt="logo">
				<h1>Bienvenido!</h1>
				<button class="ghost" id="signUp">Crear cuenta</button>
			</div>
		</div>
	</div>
</div>

<!-- <footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer> -->
</div>