<div class="container">
     <h2>Recepciones Pendientes</h2>

   <table  class="recepciones-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Proveedor</th>
        <th>Producto</th>
        <th>Lote</th>
        <th>Fecha Ingreso</th>
        <th>Estado</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 0 }}</td>
        <td>{{ 0}}</td>
        <td>{{ 0}}</td>
        <td>{{ 0}}</td>
        <td>{{ 0}}</td>
        <td><span class="badge pendiente">Pendiente</span></td>
        <td><span class="mas">+</span></td>

        

      </tr>
    </tbody>
  </table>

</div>