.container {
  min-width: 900px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
  overflow-x: auto;
    border: 0.1px solid gray;
    ;

}

h2 {
  font-size: 1.5rem;
  margin-bottom: 16px;
  color: #333;
}

.recepciones-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.recepciones-table th,
.recepciones-table td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.recepciones-table th {
  background-color: #f9f9f9;
  color: #444;
  font-weight: 600;
}

.recepciones-table tr:hover {
  background-color: #f0f7fa;
}

.badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 500;
  color: #fff;
}

.badge.pendiente {
  background-color: #f39c12;
}

.mas {
  margin: 0;
  color: #1d3482;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  max-width: 90%;
  background-color: #fff;
  border-radius: 12px;
  padding: 20px;
  transform: translate(-50%, -50%);
  z-index: 30;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.modal h3 {
  margin-top: 0;
  color: #333;
}

.modal p {
  margin: 8px 0;
  color: #444;
}

.acciones {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.btn {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  color: white;
}

.confirmar {
  background-color: #40a366;
}

.rechazar {
  background-color: #c9776e;
}
