<div class="container">
  <h2>Recepciones Pendientes</h2>

  <table class="recepciones-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Proveedor</th>
        <th>Producto</th>
        <th>Lote</th>
        <th>Fecha Ingreso</th>
        <th>Estado</th>
        <th>Detalles</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 0 }}</td>
        <td>{{ 0}}</td>
        <td>{{ 0}}</td>
        <td>{{ 0}}</td>
        <td>{{ 0}}</td>
        <td><span class="badge pendiente">Pendiente</span></td>
        <td><span class="mas" (click)="abrirModal()">+</span></td>
      </tr>
      <tr>
        <td>{{ 1 }}</td>
        <td>{{ 1}}</td>
        <td>{{ 1}}</td>
        <td>{{ 1}}</td>
        <td>{{ 1}}</td>
        <td><span class="badge pendiente">Pendiente</span></td>
        <td><span class="mas" (click)="abrirModal()">+</span></td>
      </tr>
    </tbody>
  </table>

</div>

@if(modalVisible){
<div class="modal-backdrop"  (click)="cerrarModal()"></div>
<div class="modal">
  <h3>Detalles de Recepción</h3>
  <p><strong>Proveedor:</strong>x</p>
  <p><strong>Producto:</strong>x</p>
  <p><strong>Lote:</strong> x</p>
  <p><strong>Fecha Ingreso:</strong> x</p>

  <div class="acciones">
    <button class="btn confirmar" (click)="aprobarRecepcion()">Aprobar</button>
    <button class="btn rechazar" (click)="rechazarRecepcion()">Rechazar</button>
  </div>
</div>
}